/*Selector{
	Property: value;
}*/
html{
    background-image: url(pastel02.jpg);
}

h1 {
	color:white;
}

p{
    color: white;
}

body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; 
}
a{
    color: whitesmoke;
}